# Dependencies
node_modules
/.pnp
.pnp.js

# Production build
dist
dist-ssr

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & IDE files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvsca*

# Ignore loose screenshots/videos in the project root directory
/*.png
/*.jpg
/*.jpeg
/*.mp4
/*.mov
/*.zip

# Do NOT ignore images in the public assets folder
!public/images/**
